<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test html</title>

    <style type="text/css">
        body {background-color:lightseagreen;}
        p {color:blue;}
        a {color:red;}
    </style>
</head>
<body>
    <p>创建图片链接:
        <a href="http://www.w3cschool.cn/html/html-tutorial.html">
            <img src="/statics/images/course/smiley.gif" alt="HTML 教程" width="32" height="32"></a></p>

    <p>无边框的图片链接:
        <a href="http://www.w3cschool.cn/html/html-tutorial.html">
            <img border="0" src="/statics/images/course/smiley.gif" alt="HTML 教程" width="32" height="32"></a></p>

</body>
</html>